


  /*==================================*/
 /* ITSOFT HEADER TOP START */
/*==================================*/

/* TOP ADDRESS START */
.itsoft-header-top {
    padding: 11px 0;
    background: #252628;
    position: relative;
    z-index: 1;
}

.itsoft-header-top::after {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    width: 54%;
    height: 100%;
    z-index: -1;
    transform: skew(-26deg);
    padding-left: 20px;
    background: #FF3C00;
}

.itsoft-header-top .top-address {}

.top-address p {
    margin-bottom: 0;
    font-size: 12px;
    display: inline-block;
}

.top-address p a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.top-address p a, .top-address p span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}

.top-address p span i, .top-address p a i {
    position: relative;
    margin-right: 10px;
    top: 4px;
    font-size: 20px;
}
/* TOP ADDRESS END */


/* TOP RIGHT MENU START */
.top-right-menu ul.social-icons {
    text-align: right;
    margin: 0;
    padding: 0;
}

.top-right-menu ul.social-icons li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.top-right-menu ul.social-icons li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.social-icons li a {}
.social-icons li a i {
    display: inline-block;
    font-family: boxicons!important;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.social-icon {}

.bx {
    font-weight: ;
}
/* TOP RIGHT MENU END */

.{}
.{}
.{}
.{}
.{}

  /*==================================*/
 /* ITSOFT HEADER TOP END */
/*==================================*/