
body {
    overflow-y: overlay;
}

  /*==================================*/
 /* ITSOFT HEADER TOP START */
/*==================================*/

/* TOP ADDRESS START */
.itsoft-header-top {
    padding: 11px 0;
    background: #252628;
    position: relative;
    z-index: 1;
}

.itsoft-header-top::after {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    width: 54%;
    height: 100%;
    z-index: -1;
    transform: skew(-26deg);
    padding-left: 20px;
    background: #FF3C00;
}

.itsoft-header-top .top-address {}

.top-address p {
    margin-bottom: 0;
    font-size: 12px;
    display: inline-block;
}

.top-address p a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.top-address p a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}

.top-address p span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.top-address p span i, .top-address p a i {
    position: relative;
    margin-right: 10px;
    left: 0;
    top: 4px;
    font-size: 20px;
}
/* TOP ADDRESS END */


/* TOP RIGHT MENU START */
.top-right-menu ul.social-icons {
    text-align: right;
    margin: 0;
    padding: 0;
}

.top-right-menu ul.social-icons li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.top-right-menu ul.social-icons li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.social-icons li a {}
.social-icons li a i {
    display: inline-block;
    font-family: boxicons!important;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.social-icon {}

/* TOP RIGHT MENU END */

  /*==================================*/
 /* ITSOFT HEADER TOP END */
/*==================================*/ 


  /*==================================*/
 /* ITSOFT MAIN MENU START */
/*==================================*/

.itsoft_nav_area {
    padding: 25px 0;
    background: #ffffff;
    position: relative;
    z-index: 1;
}

.itsoft_menu {
    text-align: left;
}

.itsoft_menu ul {
    display: inline-block;
}

.itsoft_menu ul li {
    display: inline-block;
    list-style: none;
}

.itsoft_menu ul li a {
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

.itsoft_menu ul li a:hover {
    color: #DE2C2C;
}

.itsoft_menu ul li a span {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
}

.current {
    margin: 0px 15px 0px 0;
}
.current i {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    top: 0;
    left: 5px;
}
.current a span, .current i{
    color: #DE2C2C;
}

.dropdwon {
    margin: 0 15px 0 15px;
}

.dropdwon a {
    
}

.mega-menu-wrap {
    display: inline-block;
}

.mega-menu-wrap ul {
    margin: 0;
    padding: 0 50px 0 0;
}


.header_right_btn {
    text-align: right;
}

.header_right_btn ul {
    margin: 0;
    padding: 0;
}

.header_right_btn ul li {
    display: inline-block;
    list-style: none;
}

.donate-btn-header {
    display: inline-block;
    margin-left: 20px;
}

.donate-btn-header a {
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}

.donate-btn-header a.dtbtn {
    background: #FF3C00;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 24px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
    border: 2px solid #FF3C00;
}

.donate-btn-header a.dtbtn:hover {
    background: #bd2d10;
    color: #fff;
    border-color: #bd2d10;
}

.nav-btn {
    width: 40px;
    height: 40px;
    text-align: right;
}

.nav-btn a {
    display: inline-block;
    position: relative;
    top: 7px;
    font-family: boxicons!important;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.nav-btn a i {
    display: inline-block;
    color: #252628;
}

  /*==================================*/
 /* ITSOFT MAIN MENU START */
/*==================================*/